<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Time Sheet</title>
    </head>
    <body>
        <header>Timesheet</header>
        {% block content %}{% endblock %}
    </body>
</html>