{% extends "base.j2" %}
{% block content %}
    
    
    <br></br>
    <div class="container bg-secondary" >
        <form action="{{ url_for('createSheet') }}" method="GET">
            <button type="submit" class="btn btn-primary">Create New Time Sheet</button>
            <br></br>
        </form>
        <div class="accordion" id="sheetAccordian">
            {% for item in items %}
            <div class="accordion-item">
                <h2 class="accordion-header d-flex" id="heading{{ item[0] }}">
                    <button class="btn btn-secondary accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#timesheet_{{ item[0] }}" aria-expanded="false" aria-controls="timesheet_{{ item[0] }}" data-bs-parent="#sheetAccordian" style="outline: none; box-shadow: none;">
                        Expand Time Sheet 
                        <form action="{{ url_for('deleteSheet') }}" method="GET" class="mb-0">
                                            <input type="hidden" name="sheetID" value="{{ item[0] }}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </button>
                </h2>

                <div id="timesheet_{{ item[0] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item[0] }}" data-bs-parent="#sheetAccordian">
                    <div class="accordian-body justify-content-center align-items-center d-flex">
                        <form action="{{ url_for('saveSheet') }}" method="POST" id="timesheets">
                            <input type="hidden" id="sheetID" name="sheetID" value="{{ item[0] }}">
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="3">Time Sheet</th>
                                    </tr>
                                </thead>
                                <tbody id="{{ item[0] }}" onload="calculatePay('{{ item[0] }}')">
                                    <tr>
                                        <td>Hourly Rate: <input type="number" step="0.01" oninput="calculatePay({{ item[0] }})" name="rate" id=rate_{{ item[0] }} value="{{ item[1] }}"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Description: <textarea name="description">{{ item[2] }}</textarea></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" id=pay_{{ item[0] }}>Total Pay: $0</td>
                                    </tr>
                                    {% if item[3] %}
                                        {% for line in item[3].values() %}
                                        <tr>
                                            <td>Date: <input type="date" name="date" value="{{ line['date'] }}"></td>
                                            <td>Hours Worked: <input type="number" oninput="calculatePay({{ item[0] }})" step="0.1" id=hours_{{ item[0] }} name="hours" value="{{ line['hours'] }}"></td>
                                            <td><button type="button" onclick="removeRow(this)" class="btn btn-danger">Remove</button></td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>Date: <input type="date" name="date"></td>
                                            <td>Hours Worked: <input type="number" oninput="calculatePay({{ item[0] }})" step="0.1" id=hours_{{ item[0] }} name="hours" "></td>
                                            <td><button type="button" onclick="removeRow(this)" class="btn btn-danger">Remove</button></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <button type="button" onclick="addRow({{ item[0] }})" class="btn btn-secondary">Add New Line Item</button>
                            <input type="submit" value="Save" class="btn btn-success">
                        </form>
                        
                    </div>
                </div>
            </div<
            {% endfor %}
        </div>
    </div>
    <script>
        function addRow(sheetID) {
            const body = document.getElementById(sheetID);
            const newRow = document.createElement('tr');
            const lastRow = document.getElementById("pay_" + sheetID)
            newRow.innerHTML = `
                <td>Date: <input type="date" name="date"></td>
                <td>Hours Worked: <input type="number" step="0.1" oninput="calculatePay(${sheetID})" id="hours_${sheetID}" name="hours"></td>
                <td><button type="button" onclick="removeRow(this)" class="btn btn-danger">Remove</button></td>
            `;
            body.appendChild(newRow);
        }

        function removeRow(button) {
            const row = button.closest('tr');
            row.remove();
        }

        function calculatePay(sheetID) {
            let pay = 0;
            let hours = 0;
            const payElement = document.getElementById("pay_" + sheetID)
            const rate = document.getElementById("rate_" + sheetID);
            const hourElements = document.querySelectorAll("#hours_" + sheetID);
            hourElements.forEach((element) => {
                if (element.value && !isNaN(parseFloat(element.value))) {
                    hours += parseFloat(element.value);
                };    
            });

            if (rate.value && !isNaN(parseFloat(rate.value))) {
                pay = hours * parseFloat(rate.value);
            };
            
            payElement.textContent = `Total Pay: $${pay.toFixed(2)}`;
        }

        document.addEventListener("DOMContentLoaded", () => {
            {% for item in items %}
                calculatePay('{{ item[0] }}');
            {% endfor %}
        });
    </script>

{% endblock %}